.App {
  text-align: center;
  color: white;
}

h1{
    font-size: 50px;
}

.board {
  display: inline-block;
}

.square {
  background: #fff;
  border: 1px solid #282c34;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 0px;
  text-align: center;
  width: 60px;
  border-radius: 55%;
}

.redPiece{
  background : red;
}

.yellowPiece {
  background: yellow;
}

.bluePiece {
  background: #282c34;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square:focus {
  outline: none;
}